html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: 'Oxygen Mono', monospace;
	margin: 0;
}

main {
	max-width: 950px;
	margin: 0 auto;
	padding: 100px 20px 40px 20px;
}

h2 {
	color: #52D6D3;
	font-size: 1rem;
}

/* NAVIGATION */
a {
	font-size: 1rem;
	color: #52D6D3;
	letter-spacing: 2px;
	text-decoration: none;
	padding: 20px 5px;
	display: inline-block;
	background: rgba(0,0,0,0);
	width: 100%;
	text-align: center;
	transition: all 0.5s;
}

a:hover {
	color: #b8f7f5;
}

#about, #products, #inspiration {
	padding: 10px 0px 10px 0px;
}

/* Flex Container*/
#nav-bar ul {
	width: 100%;
	background-color: #4e4e4e;
	border-bottom: 1px solid black;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
}

/* Flex Item */
#nav-bar li {
	flex: 2;
}

#nav-bar .logo {
	flex: 1;
}

#header-img {
	max-width: 100%;
	width: 80px;
	height: auto;
	margin: auto;
}

/* VIDEO */

#video_wrapper {
	text-align: center;
	padding: 20px 0px 20px 0px;
}


/* PRICING GRID */

.plan ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.plan ul li {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 10px;
}

.plan ul li:last-child {
  border-bottom: 0;
}

.plan a {
  text-decoration: none;
  background: #52D6D3;
  padding: 10px;
  color: black;
  border-radius: 4px;
}

.plan a:hover {
	background-color: #b8f7f5;
	border: solid 0 #52D6D3;
}


.plan h3 {
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  text-shadow: 3px 3px 0 rgba(0,0,0,0.1);
}

.price {
  font-size: 2rem;
  margin: 10px 0;
}

/* Flex Container */
.pricing-grid {
  max-width: 750px;
  margin: 0 auto;

  display: flex;
  /*align-items: center;*/
}

/* Flex Item */
.plan {
	background: #d0d0d0;
	margin: 20px;
	padding: 20px;
	border-radius: 4px;
	text-align: center;

	flex: 1;
	display: flex;
	flex-wrap: wrap;
}

.plan > * {
	flex: 1 1 100%;
}

.plan .cta {
	align-self: flex-end;
}

/* INSPIRATION SECTION */
form {
	padding: 20px;
	text-align: center;
}

#email {
	font-family : inherit;
	height: 40px;
	padding-left: 8px;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
}

#submit {
	background-color: #52D6D3; /*turquoise*/
  border: solid 2px #52D6D3;
  border-radius: 4px;
	cursor: pointer;
	font-family: inherit;
	font-size: 1em;
  transition-duration: 0.3s;
	width: 135px;
	height: 50px;
	margin: 0;
}

#submit:hover {
	background-color: #b8f7f5;
	border: solid 0 #52D6D3;
}

*:focus {
    outline: none;
}
